.cv {
	width: 800px;
	height: 100vh;
	background-color: white;
}

.cv-container {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100vh;
	background-color: gray;
	display: flex;
	justify-content: center;
}

.panel {
	width: 100%;
	height: 5%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: end;
}
.panel > button {
	height: 40px;
	align-self: center;
	background-color: royalblue;
	color: white;
	margin-right: 20px;
}