.header {
	max-height: 30vh;
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding: 20px;
}

.h-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	gap: 20px;
	font-size: 13px;
}

.header > img{
	width: 150px;
	height: 150px;
}
.section.general {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.s-field {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 5px;
}

.header {
	background-color: #333c4b;
	color: white;
}

.main {
	display: flex;
	height: 100%;
}

.main .left, .main .right {
	width: 50%;
	height: 100%;
	padding: 20px;
}
.left {
	background-color: white;
	font-weight: 600;
}
.right {
	background-color: #e5e5e5;
}
.para, ul {
	color: rgb(123, 128, 132);
	font-size: 13px;
}
.para {
	text-indent:20px;
}

.duration {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 5px;
}

.time {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
.time > p {
	align-self: end;
}
.circle {
	position: relative;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #373a4d;
  z-index: 1000;
}

.skill {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
	align-items: center;
}
.box {
	display: flex;
	width: 60%;
	align-items: center;
}
.skill span {
   color: #7b8084;
   font-size: 14px;
}
.level {
	display: flex;
  width: 100%;
  height: 4px;
  background: gray;
  border-radius: 3px;
  overflow: hidden;
}
.fill {
	height: 100%;
  background:  #373a4d;
  border-radius: 3px;
}   