.header {
	max-height: 30vh;
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding: 20px;
}

.h-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	gap: 20px;
}

.header > img{
	width: 150px;
	height: 150px;
}
.section {
	/*background-color: #bbe4e936;*/
}
.s-field {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 5px;
}

.header {
	background-color: #333c4b;
	color: white;
}

.main {
	display: flex;
	height: 100%;
}

.main .left, .main .right {
	width: 50%;
	height: 100%;
	padding: 20px;
}
.left {
	background-color: white;
	font-weight: 600;
}
.right {
	background-color: #e5e5e5;
}
.job-description {
	color: rgb(123, 128, 132);
}
.job-description > p {
	text-indent:20px;
} 